@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!--cửa hàng-->
    <section class="section pb-0">
        <div class="container">

        </div>
        <div class="container">
            <div class="row mb-7 justify-content-center" data-aos="fade">
                <div class="col-md-7 text-center heading-wrap">
                    <h3 data-aos="fade-up">Cửa Hàng</h3>
                    <p data-aos="fade-up" data-aos-delay="100">Đồ Việt là quán ăn về miền tây sông nước, những món ăn bình dị nhưng rất ngon và đậm vị.</p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <img src="~/Content/img/dishes_1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="200" style="width:auto; height:450px;">
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/img/about_1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="300" style="padding-bottom:30px;" >

                    <img src="~/Content/img/about_2.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="400">
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/img/cakho.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="500" style="width:300px; height:450px;">
                </div>
            </div>
        </div>
    </section>

    <!--menu đặc biệt-->
    <section class="section ">

        <div class="clearfix mb-5 pb-5">
            <div class="container-fluid mb-5">
                <div class="row" data-aos="fade">
                    <div class="col-md-12 text-center heading-wrap">
                        <h3>Menu Đặt Biệt</h3>
                    </div>
                </div>
            </div>
            <div class="owl-carousel centernonloop">
                <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="100">
                    <div class="text">
                        <p class="dishes-price">50.000</p>
                        <h3 class="dishes-heading">Canh chua</h3>
                    </div>
                    <img src="~/Content/img/dishes_1.jpg" alt="" class="img-fluid" style=" width:500px; height:400px">
                </a>
                <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="200">
                    <div class="text">
                        <p class="dishes-price">50.000</p>
                        <h3 class="dishes-heading">Thịt kho trứng</h3>
                    </div>
                    <img src="~/Content/img/trungkho.jpg" alt="" class="img-fluid" style=" width:500px; height:400px">
                </a>
                    <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="300">
                        <div class="text">
                            <p class="dishes-price">50.000</p>
                            <h3 class="dishes-heading">Cá lóc kho tộ</h3>
                        </div>
                        <img src="~/Content/img/cakho.jpg" alt="" class="img-fluid" style=" width:500px; height:400px">
                    </a>
                    <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="400">
                        <div class="text">
                            <p class="dishes-price">40.000</p>
                            <h3 class="dishes-heading">Gỏi đu đủ</h3>
                        </div>
                        <img src="~/Content/img/tom.jpg" alt="" class="img-fluid" style=" width:500px; height:400px">
                    </a>
            </div>
        </div>

    </section>


    <!--our menu-->


    <section class="section bg-light  top-slant-white bottom-slant-gray">

        <div class="clearfix mb-5 pb-5">
            <div class="container-fluid">
                <div class="row" data-aos="fade">
                    <div class="col-md-12 text-center heading-wrap">
                        <h3>Menu</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" data-aos="fade">

                            <img src="~/Content/img/tom.jpg" style="position:relative; box-sizing:border-box; width:280px; height:300px;" />
                        </div>
                        <div class="text order-1">
                            <h3>Gỏi Đu Đủ</h3>
                            <p>Gỏi đu đủ tôm thịt với những nguyên liệu tươi ngon nhất, những con tôm được chọn lựa kĩ càng mang đến cho thực khách cảm giác ngon miệng.</p>
                            <p class="text-primary h3">40.000</p>
                        </div>

                    </div>

                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image" data-aos="fade">
                            <img src="~/Content/img/trungkho.jpg" style="position:relative; box-sizing:border-box; width:260px; height:300px;" />
                        </div>
                        <div class="text">
                            <h3>Thịt Kho tàu</h3>
                            <p>Thịt ba chỉ tươi ngon được kho với nước dừa đậm chất miền tây.</p>
                            <p class="text-primary h3">50.000</p>

                        </div>

                    </div>

                </div>

                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" data-aos="fade">
                            <img src="~/Content/img/cakho.jpg" style="position:relative; box-sizing:border-box; width:280px; height:300px;" />
                        </div>
                        <div class="text order-1">
                            <h3 >Cá Kho tộ</h3>
                            <p>Cá lóc tộ là món ăn bình dị của miền tây sông nước, cá kho được thêm chút tiêu và hành ăn với cơm trắng.</p>
                            <p class="text-primary h3">50.000</p>

                        </div>

                    </div>

                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image" data-aos="fade">
                            <img src="~/Content/img/banhxeo.jpg" style="position:relative; box-sizing:border-box; width:260px; height:300px;" />
                        </div>
                        <div class="text">
                            <h3>Bánh Xèo</h3>
                            <p>Bánh xèo được chiên vàng giòn kết hợp cùng tôm và thịt thêm một chút giá, ăn cùng với rau sống chấm một chút nước mắm ngon tuyệt.</p>
                            <p class="text-primary h3">50.000</p>

                        </div>

                    </div>

                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" data-aos="fade">
                            <img src="~/Content/img/chedx.jpg" style="position:relative; box-sizing:border-box; width:280px; height:300px;" />
                        </div>

                        <div class="text order-1">
                            <h3>Chè Đậu xanh</h3>
                            <p>Đậu xanh nấu cùng với rong biển ăn cùng với một chút đá lạnh tạo tạo giác mát lạnh, sau khi chúng ta ăn những món chính.</p>
                            <p class="text-primary h3">20.000</p>
                        </div>
                    </div>



                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image" data-aos="fade">
                            <img src="~/Content/img/raucau.jpg" style="position:relative; box-sizing:border-box; width:260px; height:300px;" />
                        </div>
                        <div class="text">
                            <h3>Rau Câu Cafe</h3>
                            <p>Từng miếng thạch mềm tan ngọt dịu hương thơm của cafe ngọt ngào đăng đắng vô cùng độc đáo rất thích hợp khi dùng lạnh.</p>
                            <p class="text-primary h3">20.000</p>

                        </div>

                    </div>

                </div>

                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" data-aos="fade">
                            <img src="~/Content/img/rc.jpg" style="position:relative; box-sizing:border-box; width:280px; height:300px;" />
                        </div>
                        <div class="text order-1">
                            <h3>Rau Câu Lá Dứa</h3>
                            <p>Sự thanh mát thơm của lá dứa và béo ngậy của nước cốt dừa, miếng thạch chắc chắn sẽ làm tan chảy bao trái tim hảo ngọt.</p>
                            <p class="text-primary h3">20.000</p>

                        </div>

                    </div>

                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image" data-aos="fade">
                            <img src="~/Content/img/bo.jpg" style="position:relative; box-sizing:border-box; width:260px; height:300px;" />
                        </div>
                        <div class="text">
                            <h3>Sinh tố Bơ</h3>
                            <p>Ngày hè nóng oi ả thưởng thức một ly sinh tố bơ với nhiều vitamin với nhiều dưỡng chất sẽ giúp bạn xua tan cảm giác mệt mỏi.</p>
                            <p class="text-primary h3">20.000</p>

                        </div>

                    </div>

                </div>
            </div>


        </div>
    </section>






